click==8.2.1
hyphenate==1.1.0
librosa==0.11.0
matplotlib==3.8.3
numpy==1.26.4
pandas==2.3.1
praat-parselmouth==0.4.6
lightning==2.5.2
nltk==3.9.1
pqdm==0.2.0
scikit-learn==1.7.1
git+https://github.com/mattm458/speech-utils.git
tensorboard==2.20.0
torch==2.8.0
torchaudio==2.8.0
transformers==4.55.0
Unidecode==1.3.8
